html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

b {
  font-size: 20px;
}

button {
  margin-bottom: 5px;
}

span {
  font-size: 15px;
  text-align: center;
}
  .title {
    margin-right: 5px;
  }
  .sub-title{
    font-size: 17px;
    font-weight: bold;
  }
  .content {
    font-size: 15px;
    text-align: left;
  }

html {
  background-color: #FFE3EE;
}

input {
  width: 700px;
}

  input[type=number] {
    width: 30px;
  }
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

textarea {
  width: 700px;
  min-height: 5rem;
  overflow-y: hidden;
  font-size:15px;
  resize: none;
  border: none;
  word-wrap: break-word;
  word-break: break-all;
  margin-top: 10px;
}

textarea:focus, input:focus{
  outline: none;
}

.flex-container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}

.result{
  opacity : 0;
}

.hidden{
  display: none;
}

.question-area{
  width: 700px;
  height: fit-content;
}